<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
</head>
<body>
 
<p>Date: <input type="text" id="datepicker"></p>
 
 

  <form method='POST' action="/monitors/<%= @monitor.tag %>/calibrations/new">
    <h3>Input New Calibration:</h3>
     <!--Why do I not need the / / on my regex here?-->
      <input type='text' name='lum_val' pattern="\b\d{2}\.\d{2}\b" placeholder="Luminance"/>
      <input type='text' name='x_val' pattern="\A\.\d{4}\z" placeholder="X Value"/>
      <input type='text' name='y_val' pattern="\A\.\d{4}\z" placeholder="Y Value"/>
      <input type='text' name='cal_attempts' pattern="\d{1,2}(?!\d)|100" placeholder="Attempts"/>
      <input type='text' name='green' pattern="(yes|no)" placeholder="Green" />
      <input type='text' name='date' placeholder="Date"/><br/>
      <input type="text" id="datepicker" placeholder="Enter Date here"/>
      <br/>
      <input type='submit'/>
  </form>

</body>
</html>
