<html>
  <head>
    <title>DC Calibrations</title>
  </head>
  <body>

    <p><a href="/monitors" class="btn">All monitors</a></p>
    
    <form method="GET" action='/monitors/:tag/calibrations' >
      <label for="calibrations">Enter Tag Number:</label>
      <input name="tag"/> 
      <input type="submit" value="Submit" />  
    </form>
      
  </body>
</html>


