<html>
  <head>
    <title>DC Calibrations</title>
  </head>
  <body>

    <a href="/monitors" class="btn">All monitors</a>
    
    <form method="GET" action='/monitors/:tag' >
      <label for="calibrations">Enter Tag Number:</label>
      <input id name="calibrations" name="params[tag]"/> 
      <input id="submit" type="submit" value="Submit" />  
    </form>
        
      
  </body>
</html>


