<html>
  <head>
    <title>DC Calibrations</title>
  </head>
  <body>
    
    <script src="./public/welcome" type="text/javascript"></script>
    <script>document.write('<h3>' + greeting + '</h3>')</script>
    
    <p><a href="/monitors" class="btn">All monitors</a></p>
    
    <form method="GET" action="/calibrations" >
      <label for="calibrations">Search Tag Number:</label>
      <input name="tag" pattern=".\d{5}" title="Please enter 6 digit tag number"> 
      <input type="submit" value="Submit" />  
    </form>
    
    <div class="container">

      <% if flash[:index_error] %>
        <%= flash[:index_error] %>
      <% end %>
      <% if flash[:no_tag] %>
        <%= flash[:no_tag] %> <a href="/monitors/new">Add Monitor</a>
      <% end %>

    </div>
    
    </br>
    </br>
    </br>
    
    <a class="twitter-timeline" href="https://twitter.com/HP" data-widget-id="596693797368561665">Tweets by @HP</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      
  </body>
</html>




