<h1>New Monitor</h1>

  <form method="POST" action="/monitors/new" >
    <label for="monitors_new">Enter New Tag Number:</label>
    <input name="tag_new" patter=".{6}" title="6 digits only" /> 
    <input type="submit" value="Submit" />  
  </form>
  
  <p><%= flash[:failure] %></p>