<h1>New Monitor</h1>

  <form method="POST" action="/monitors/new" >
    <label for="monitors_new">Enter New Tag Number:</label>
    <input name="tag_new"/> 
    <input type="submit" value="Submit" />  
  </form>