<h3><a href="/monitors/new">Add Monitor</a></h3>
<p><%= flash[:success] %></p>
<ul>
  <% @monitors.each do |monitor| %>
    <li>
      <a href="/monitors/<%= monitor.tag %>/calibrations"><%= monitor.tag %></a>
    </li>
  <% end %>
</ul>





