<h1>Monitors</h1>

<a href="/monitors/new">Add Monitor</a>
<ul>
  <% @monitors.each do |monitor| %>
    <li>
      <a href="/monitors/<%= monitor.tag %>/calibrations"><%= monitor.tag %></a>
    </li>
  <% end %>
</ul>

<p><%= flash[:success] %></p>


